<div id="copyright">
    <p>&COPY;2024 <b>Eventful.</b></p>
    <p>All rights reserved.</p>
</div>

<div>
    <ul style="list-style-type: none; padding: 0;">
      <span style="font-weight: bold">Use Eventful</span>
      <li><a id="footLink" style="text-decoration: none;" href="/helpCenter">Help center</a></li>
      <li><a id="footLink" style="text-decoration: none;" href="/creators/creatorHomePage">Create event</a></li>
      <li><a id="footLink" style="text-decoration: none;" href="/eventees/signup">Sign Up</a></li>
      <li><a id="footLink" style="text-decoration: none;" href="/eventees/login">Log In</a></li>
      <li><a id="footLink" style="text-decoration: none;" href="/faq">FAQ</a></li>
    </ul>
</div>


  <p>
    Send us a mail &rBarr;
    <a href="mailto:eventful4you@gmail.com"
      ><img id="gmail" src="/gmailLogo.svg" alt="image"
    /></a>
  </p>