<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/creators/login">Login</a></li>
    </ul>
  </nav>
  

    <h1>Creator Signup page</h1>

<form action="/creators/signup" , method="post" enctype="multipart/form-data">

    <label for="creator_name" class="label">Full name:</label>
    <input
      type="text"
      name="creator_name"
      class="input"
    /><br /><br /><br />
    <label for="company_name" class="label">Company name:</label>
    <input
      type="text"
      ,
      name="company_name"
      class="input"
    /><br /><br /><br />
    <label for="email" class="label">email:</label>
    <input
      type="text"
      ,
      name="email"
      class="input"
    /><br /><br /><br />

    <label for="country" class="label">Country:</label>
    <input
      type="text"
      ,
      name="country"
      class="input"
    /><br /><br /><br />

    <label for="state" class="label">State:</label>
    <input
      type="text"
      ,
      name="state"
      class="input"
    /><br /><br /><br />

    <label for="phoneNum" class="label">Phone number:</label>
    <input
      type="text"
      ,
      name="phoneNum"
      class="input"
    /><br /><br /><br />
    
    <label for="password" class="label">password:</label>
    <input
      type="password"
      ,
      name="password"
      class="input"
    /><br /><br /><br />
    <label for="profileImage" class="label">Upload your upload:</label>
    <input
      type="file"
      name="profileImage"
      accept="image/*"
      placeholder="Choose a file"
      class="input"
    />
  </div>
    <button type="submit" class="submit">submit</button>
  </form>
</body>
</html>