<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Creators</title>
</head>
<body>
    <div>
      <nav>
        <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
        <div>
          <span><a id="navLink" href="/helpCenter">Help Center</a></span>
          <span><a id="navLink" href="/creators/creatorDashboard">Dashboard</a></span>
          <span><a id="navLink" href="/creators/signup">Sign Up</a></span>
          <span><a id="navLink" href="/creators/login">Log In</a></span>
        </div>
      </nav>

          <div id="welcomeContainer">
            <div id="welcomeMessage" style="background-color: purple;">
              <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 70px;">Creators' desk</h1>
              <p data-aos="zoom-out" data-aos-duration="1000" style="font-size: 25px;">...where the unforgettable moments are created</p>
              <a data-aos="fade-right" data-aos-duration="1000" id="btn" href="/creators/signup">Create an account</a>
            </div>
      
            <div id="imageContainer">
            <img id="indexImage" src="/eventee4.jpg" alt="image">
            </div>
          
          </div>

          <div style="text-align: center;margin-bottom: 100px;">
            <h1 data-aos="fade-up" data-aos-duration="1000">Event hosting simplified</h1>
            <p data-aos="fade-up" data-aos-duration="1000">Easily create and manage events on a platform that attendees love and trust.</p>
          </div>

          <div style="position: relative;">
          
            <img id="happyman" src="/creator5.webp" alt="image">
            <img id="happywoman" src="/creator3.jpg" alt="image">
        

          <div style="margin: 20px 100px;width: 50%;">
            
            <div data-aos="fade-up" data-aos-duration="1000" id="serviceContainer">
              <img data-aos="zoom-in" data-aos-duration="1000" id="serviceLogo" src="/code.png" alt="image">
              <h2 data-aos="fade-left" data-aos-duration="1000" id="serviceHead">Event Ticketing</h2>
              <p data-aos="fade-left" data-aos-duration="1000" id="servicePara">Attendees recieves mobile ticket for events as <b>QRcode</b> sent through our email service.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1000" id="serviceContainer">
              <img data-aos="zoom-in" data-aos-duration="1000" id="serviceLogo" src="/camera.jpeg" alt="image">
              <h2 data-aos="fade-right" data-aos-duration="1000" id="serviceHead">Ticket Scanning</h2>
              <p data-aos="fade-right" data-aos-duration="1000" id="servicePara">Enjoy our reliable inbuilt scanner that allows you to scan and save your scanning result at a click. <a href="/help/ticketScanning">Read the guideline</a>.</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1000" id="serviceContainer">
              <img data-aos="zoom-in" data-aos-duration="1000" id="serviceLogo" src="/reminder2.jpg" alt="image">
              <h2 data-aos="fade-left" data-aos-duration="1000" id="serviceHead">Event Reminder</h2>
              <p data-aos="fade-left" data-aos-duration="1000" id="servicePara">We got you covered with a default reminder system that send remider to ticketed eventees before the event day as email. Unticketed eventees also receives email notification by default before the event day to ensure that they eventually get a ticket. We make this flexible, meaning you can also set a reminder day to remind ticketed eventees. <a href="/help/update">Read more</a></p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1000" id="serviceContainer">
              <img data-aos="zoom-in" data-aos-duration="1000" id="serviceLogo" src="/marketing2.webp" alt="image">
              <h2 data-aos="fade-right" data-aos-duration="1000" id="serviceHead">Marketing Tools</h2>
              <p data-aos="fade-right" data-aos-duration="1000" id="servicePara">Our shearability feature allows you to share your created events on leading social media platforms. <a href="/help/share">Read the guideline</a></p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1000" id="serviceContainer">
              <img data-aos="zoom-in" data-aos-duration="1000" id="serviceLogo" src="/analysis.jpg" alt="image">
              <h2 data-aos="fade-left" data-aos-duration="1000" id="serviceHead">Reporting & Analytics</h2>
              <p data-aos="fade-left" data-aos-duration="1000" id="servicePara">A top notch analysis is guranteed with Eventful as we allow you to record the count and details of ticketed eventees, unticketed eventees and scanned eventees(attendees) at a click. <a href="/help/creatorAnalytics">Read the guideline</a></p>
            </div>

            <div data-aos="fade-up" data-aos-duration="1000" id="serviceContainer">
              <img data-aos="zoom-in" data-aos-duration="1000" id="serviceLogo" src="/payment.png" alt="image">
              <h2 data-aos="fade-right" data-aos-duration="1000" id="serviceHead">Payment System</h2>
              <p data-aos="fade-right" data-aos-duration="1000" id="servicePara">Eventful create a wallet for you when registered. So you can monitor transactions (credit or debit) and wallet balance. Our reliable withdrawal system guarateed you of account credit without delay. <a href="/help/payout">Read more</a></p>
            </div>
          
          </div>

        </div>
          <footer>
            <%-include("partials/footer.ejs")-%>
          </footer>

    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>AOS.init();</script>
</body>
</html>