<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<link rel="stylesheet" href="/style.css">
<title>Sign Up</title>
</head>

<body>
<div>
  <nav>
    <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
    <div>
      <span><a id="navLink" href="/">Home</a></li>
      <span><a id="navLink" href="/creators/login">Login</a></span>
      <span><a id="navLink" href="/creators/creatorDashboard">Dashboard</a></span>
    </div>
  </nav>

  <div id="welcomeContainer">
    <div id="creatorLogSign">
      <h1 style="font-size: 70px;">Creator Signup</h1>
    </div>
  
    <div id="imageContainer">
      <img id="indexImage" src="/hand-signing-form.jpg"  alt="image">
    </div>
  </div>
 
  <div id="formBox">
    <%if(creatorSignup){%>
      <p style="color: green; text-align: center; font-size: 24px;"><%=creatorSignup%></p>
    <%}%>
<form action="/creators/signup"  method="post" id="form" enctype="multipart/form-data">
  <h2 style="margin-bottom: 50px;">Sign Up</h2>
    <label for="creator_name" class="label">Full Name:</label>
    <input
      type="text"
      name="creator_name"
      class="input"
    /><br /><br /><br />
    <label for="company_name" class="label">Company Name:</label>
    <input
      type="text"
      ,
      name="company_name"
      class="input"
    /><br /><br /><br />
    <label for="email" class="label">Email:</label>
    <input
      type="text"
      ,
      name="email"
      class="input"
    /><br /><br /><br />

    <label for="country" class="label">Country:</label>
    <input
      type="text"
      ,
      name="country"
      class="input"
    /><br /><br /><br />

    <label for="state" class="label">State:</label>
    <input
      type="text"
      ,
      name="state"
      class="input"
    /><br /><br /><br />

    <label for="phoneNum" class="label">Phone Number:</label>
    <input
      type="text"
      ,
      name="phoneNum"
      class="input"
    /><br /><br /><br />

    <label for="password" class="label">Password:</label>
    <input
      type="password"
      ,
      name="password"
      class="input"
    /><br /><br /><br />
    <label for="profileImage" class="label">Upload Your Picture:</label>
    <input
      type="file"
      name="profileImage"
      accept="image/*"
      placeholder="Choose a file"
      class="input"
    /><br /><br /><br />
    
    <h3>Accouunt Details</h3>
   
    <label for="account_name" class="label">Account Name:</label>
    <input
      type="text"
      ,
      name="account_name"
      class="input"
    /><br /><br /><br />

    <label for="account_number" class="label">Account Number:</label>
    <input
      type="text"
      ,
      name="account_number"
      class="input"
    /><br /><br /><br />

    <label for="bank_name" class="label">Bank Name:</label>
    <input
      type="text"
      ,
      name="bank_name"
      class="input"
    /><br /><br /><br />
    
    
  
    <button type="submit" class="submit">submit</button>
  </form>
</div>
  <footer>
    <%-include("partials/footer.ejs")-%>
  </footer>
</div>
</body>
</html>