<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <link rel="stylesheet" href="/style.css">
    <title>Creators</title>
</head>
<body>
    <div>
      <nav>
        <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
        <div>
          <span><a id="navLink" href="/helpCenter">Help Center</a></span>
          <span><a id="navLink" href="/creators/signup">Sign Up</a></span>
          <span><a id="navLink" href="/creators/login">Log In</a></span>
        </div>
      </nav>

          <div id="welcomeContainer">
            <div id="welcomeMessage" style="background-color: purple;">
              <h1 style="font-size: 70px;">Creators' desk</h1>
              <p style="font-size: 25px;">...where the unforgettable moments are created</p>
              <a id="btn" href="/creators/signup">Create an account</a>
            </div>
      
            <div id="imageContainer">
            <img id="indexImage" src="/eventee4.jpg" alt="image">
            </div>
          
          </div>

          <div style="text-align: center;margin-bottom: 100px;">
            <h1>Event hosting simplified</h1>
            <p>Easily create and manage events on a platform that attendees love and trust</p>
          </div>

          <div style="margin: 20px 100px;width: 50%;">
            
            <div id="serviceContainer">
              <img id="serviceLogo" src="/code.png" alt="image">
              <h2 id="serviceHead">Event Ticketing</h2>
              <p id="servicePara">Attendees recieves mobile ticket for events as <b>QRcode</b> sent through our email service.</p>
            </div>

            <div id="serviceContainer">
              <img id="serviceLogo" src="/camera.jpeg" alt="image">
              <h2 id="serviceHead">Ticket Scanning</h2>
              <p id="servicePara">Enjoy our reliable inbuilt scanner that allows you to scan and save your scanning result at a click. </p>
            </div>

            <div id="serviceContainer">
              <img id="serviceLogo" src="/reminder2.jpg" alt="image">
              <h2 id="serviceHead">Event Reminder</h2>
              <p id="servicePara">We got you covered with a default reminder system through which Eventful send remider to ticketed eventees before the event day as email. Unticketed eventees also receives email notification by default before the event day to ensure that they eventually get a ticket.</p>
            </div>

            <div id="serviceContainer">
              <img id="serviceLogo" src="/marketing2.webp" alt="image">
              <h2 id="serviceHead">Marketing Tools</h2>
              <p id="servicePara">Eventful allows site visitors either logged in or not to boost your market reach by giving them access to share your events on leading social media platforms.</p>
            </div>

            <div id="serviceContainer">
              <img id="serviceLogo" src="/analysis.jpg" alt="image">
              <h2 id="serviceHead">Reporting & Analytics</h2>
              <p id="servicePara">A top notch analysis is guranteed with Eventful as we allow you to record the count and details of ticketed eventees, unticketed eventees and scanned eventees(attendees) at a click.</p>
            </div>

            <div id="serviceContainer">
              <img id="serviceLogo" src="/payment.png" alt="image">
              <h2 id="serviceHead">Payment System</h2>
              <p id="servicePara">Easily collect and simplify event payments</p>
            </div>
          
          </div>
          <footer>
            <%-include("partials/footer.ejs")-%>
          </footer>

    </div>
</body>
</html>