<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creator Login</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/creators/signup">Signup</a></li>
    </ul>
  </nav>
    
  <form action="/creators/login" method="post">
    <h1>Creator Login</h1>
    <label for="email" class="label">email:</label>
    <input
      type="text"
      ,
      name="email"
      class="input"
    /><br /><br /><br />

    <label for="password" class="label">password:</label>
    <input
      type="password"
      ,
      name="password"
      class="input"
    /><br /><br /><br />
    <button type="submit" class="submit">submit</button>
  </form>
</body>
</html>