<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Help</title>
</head>
<body>
  <div>
    <%if(help == "checklisiting"){%>
        <nav>
            <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
            <div>
              <span><a id="navLink" href="/helpCenter">Help Center</a></span>
              <span><a id="navLink" href="/faq">FAQ</a></span>
              <span><a id="navLink" href="/eventees/signup">Sign Up</a></span>
              <span><a id="navLink" href="/eventees/login">Log In</a></span>
            </div>
          </nav>
          
          <div id="welcomeContainer">
            <div id="welcomeMessage">
              <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 50px;">HELP ROOM</h1>
              <h1 data-aos="fade-left" data-aos-duration="1000" style="font-size: 70px;color: purple;">Checklisting</h1>
              
            </div>
      
            <div id="imageContainer">
            <img id="indexImage" src="/customer.jpg" alt="image">
            </div>
          </div>
          
          <div style="margin: 24px">
          <div style="text-align: center;">
            <h2 data-aos="fade-up" data-aos-duration="1000" id="eachHelp">Checklisting Guidelines</h2>
            <h3>Follow the following steps to add event to your checklist.</h3>
          </div>
            <ol style="line-height: 2.5;">
              <li>Login to your dashboard as eventee.</li>
              <li>Scroll down to the list of events on your dashboard.</li>
              <li>Click on the <b>add to checklist</b> button. It becomes added.</li>
              <li>You can then click on <b>my checklist</b> button to confirm the event on your checklist.</li>
              <li>You can get back to your checklist later to buy the ticket of the listed events.</li>
            </ol>
        </div>
        
    <%}else if(help == "ticketPurchase"){%>
        <nav>
            <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
            <div>
              <span><a id="navLink" href="/helpCenter">Help Center</a></span>
              <span><a id="navLink" href="/faq">FAQ</a></span>
              <span><a id="navLink" href="/eventees/signup">Sign Up</a></span>
              <span><a id="navLink" href="/eventees/login">Log In</a></span>
            </div>
          </nav>

          <div id="welcomeContainer">
            <div id="welcomeMessage">
              <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 50px;">HELP ROOM</h1>
              <h1 data-aos="fade-left" data-aos-duration="1000" style="font-size: 70px;color: purple;">Ticket purchase</h1>
              
            </div>
      
            <div id="imageContainer">
            <img id="indexImage" src="/customer.jpg" alt="image">
            </div>
          </div>
          
          <div style="margin: 24px">
          <div style="text-align: center;">
            <h2 data-aos="zoom-up" data-aos-duration="1000" id="eachHelp">Ticket Purchase Guidelines</h2>
            <h3>Follow the following steps to get event's ticket.</h3>
          </div>
            <ol style="line-height: 2.5;">
              <li>After adding desired event/s to your checklist. You can read on <a href="/help/checklisting">how to add event to Checklist.</a></li>
              <li>Click on <b>myChecklist</b> button to see added events</li>
              <li>Scroll down the list and click on <b>buy ticket</b> button of the desired event to initialize payment.</li>
              <li>This will take you to the paystack payment page.</li>
              <li>You can then choose a payment option to make your payment</li>
              <li>You will receive an email containing a <b>QRcode</b> which is your <b>ticket</b> to the venue.</li>
              <li>You will also receive a payment receipt from paystack to confirm your payment if successful.</li>
            </ol>
          </div>

        
    <%}else if(help == "share"){%>
        <nav>
            <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
            <div>
              <span><a id="navLink" href="/helpCenter">Help Center</a></span>
              <span><a id="navLink" href="/faq">FAQ</a></span>
              <span><a id="navLink" href="/eventees/signup">Sign Up</a></span>
              <span><a id="navLink" href="/eventees/login">Log In</a></span>
            </div>
          </nav>

          <div id="welcomeContainer">
            <div id="welcomeMessage">
              <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 50px;">HELP ROOM</h1>
              <h1 data-aos="fade-left" data-aos-duration="1000" style="font-size: 70px;color: purple;">Sharing to social medias</h1>
              
            </div>
      
            <div id="imageContainer">
            <img id="indexImage" src="/customer.jpg" alt="image">
            </div>
          </div>
          
          <div style="margin: 24px">
            <div style="text-align: center;">
            <h2 data-aos="fade-up" data-aos-duration="1000" id="eachHelp">Share Guidelines</h2>
            <h3>Follow the following steps to share event on the provided social media platforms.</h3>
          </div>
            <ol style="line-height: 2.5;">
              <li>From the home page or your dashboard, click on the event banner.</li>
              <li>This will open another tab containing the event details.</li>
              <li>You will see the <b>facebook</b> and <b>X (twitter)</b> share button on the page.</li>
              <li>Click on any of the share buttton to share the event on your social media account.</li>
              <li>We implore you to do this as a support to our marketing team.</li>
            </ol>
          </div>
        
        <%}else if(help == "eventeeAnalytics"){%>
            <nav>
                <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
                <div>
                  <span><a id="navLink" href="/helpCenter">Help Center</a></span>
                  <span><a id="navLink" href="/faq">FAQ</a></span>
                  <span><a id="navLink" href="/eventees/signup">Sign Up</a></span>
                  <span><a id="navLink" href="/eventees/login">Log In</a></span>
                </div>
              </nav>
              
              <div id="welcomeContainer">
                <div id="welcomeMessage">
                  <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 50px;">HELP ROOM</h1>
                  <h1 data-aos="fade-left" data-aos-duration="1000" style="font-size: 70px;color: purple;">Analytics</h1>
                  
                </div>
          
                <div id="imageContainer">
                <img id="indexImage" src="/customer.jpg" alt="image">
                </div>
              </div>
             
              <div style="margin: 24px">
                <div style="text-align: center;">
                <h2 data-aos="fade-up" data-aos-duration="1000" id="eachHelp">Eventee Analytics</h2>
                <h3>From your dashboard, the following datas can be accessed to analyse your activities.</h3>
              </div>
                <ol style="line-height: 2.5;">
                  <li>You can get the count and details of all the events you bought ticket for in the past.</li>
                  <li>You can also get the count and details of all the events you have attended so far.</li>
                  <li>This will make you make you identfy the event you failed to attend due to reasons.</li>
                  <li>You can then reach out to the organizer to request for when next the like of such event will come up. </li>
                  <li>Other decisions can be deduced from this result.</li>
                </ol>
              
              </div>
            
            <%}else if(help == "ticketScanning"){%>
                <nav>
                    <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
                    <div>
                      <span><a id="navLink" href="/helpCenter">Help Center</a></span>
                      <span><a id="navLink" href="/faq">FAQ</a></span>
                      <span><a id="navLink" href="/creators/signup">Sign Up</a></span>
                      <span><a id="navLink" href="/creators/login">Log In</a></span>
                    </div>
                  </nav>
                  <div id="welcomeContainer">
                    <div id="welcomeMessage">
                      <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 50px;">HELP ROOM</h1>
                      <h1 data-aos="fade-left" data-aos-duration="1000" style="font-size: 70px;color: purple;">Ticket Scanning</h1>
                      
                    </div>
              
                    <div id="imageContainer">
                    <img id="indexImage" src="/customer.jpg" alt="image">
                    </div>
                  </div>
                  
                  <div style="margin: 24px">
                    <div style="text-align: center;">
                    <h2 data-aos="fade-up" data-aos-duration="1000" id="eachHelp">Ticket Scanning Guidelines</h2>
                    <h3>We got you covered with a scanner accessible from your dashboard.</h3>
                    </div>
                    <ol style="line-height: 2.5;">
                     <li>Click on the <b>scanner</b> button on your dashboard.</li>
                     <li>This will open the scanner page.</li>
                     <li>Click on the <b>Request camera permissions</b> button.</li>
                     <li>Then click on <b>Start scanning.</b></li>
                     <li>The scanner will open for you to scan the eventee QRcode to authenticate the eventee.</li>
                    <li>If the scanning result is satisfactory, click the <b>save</b> button to add the eventee to the list of scanned eventees.(i.e Attendees)</li>
                    <li>You will be redirected to the same scanner page if successful.</li>
                  </ol>
                  </div>
                
    
                <%}else if(help == "update"){%>
                    <nav>
                        <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
                        <div>
                          <span><a id="navLink" href="/helpCenter">Help Center</a></span>
                          <span><a id="navLink" href="/faq">FAQ</a></span>
                          <span><a id="navLink" href="/creators/signup">Sign Up</a></span>
                          <span><a id="navLink" href="/creators/login">Log In</a></span>
                        </div>
                      </nav>

                      <div id="welcomeContainer">
                        <div id="welcomeMessage">
                          <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 50px;">HELP ROOM</h1>
                          <h1 data-aos="fade-left" data-aos-duration="1000" style="font-size: 70px;color: purple;">Making an update</h1>
                          
                        </div>
                  
                        <div id="imageContainer">
                        <img id="indexImage" src="/customer.jpg" alt="image">
                        </div>
                      </div>
                      
                      <div style="margin: 24px">
                        <div style="text-align: center;">
                        <h2 data-aos="fade-up" data-aos-duration="1000" id="eachHelp">Event Update Guidelines</h2>
                        <h3>We got you covered if you need to make changes to your event description either the event has been posted or not.</h3>
                      </div>
                        <ol style="line-height: 2.5;">
                    
                        <li>From your dashboard, scroll to the specific event and click on <b>Update or delete Event from here</b> button.</li>
                        <li>This will open the event update page.</li>
                        <li>Here you can make update to event description, reminder day and ticket price</li>
                        <p>For description update;</p>
                        <ul>
                          <li>You may copy the current description and paste it in the update text box to make your update.</li>
                          <li>Make your update and click the <b>Update</b> button to post the update.</li>
                          <li>You will get a success message if successful and this will reflect immediately on your event description.</li>
                        </ul>

                        <p>For the reminder day update or setting</p>
                        <ul>
                          <li>Select any day of your choice from the select field and hit the <b>set</b>  button.</li>
                          <li>You will get a success message if successful.</li>
                        </ul>
                        
                        <p>For the ticket price update or change for late birds</p>
                        <ul>
                          <li>Enter the late birds price in the provided field and hit the <b>update</b> button.</li>
                          <li>Ensure the price entered is the same as contained event details.</li>
                          <li>Don't enter a text or currency sign. Just the number equivalent to the price. Else, the system will not process the payment.</li>
                           <li>You will get a success message if successful.</li>
                        </ul>
                        
                      </ol>
                      </div>
                    
                    <%}else if(help == "payout"){%>
                        <nav>
                            <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
                            <div>
                              <span><a id="navLink" href="/helpCenter">Help Center</a></span>
                              <span><a id="navLink" href="/faq">FAQ</a></span>
                              <span><a id="navLink" href="/creators/signup">Sign Up</a></span>
                              <span><a id="navLink" href="/creators/login">Log In</a></span>
                            </div>
                          </nav>

                          <div id="welcomeContainer">
                            <div id="welcomeMessage">
                              <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 50px;">HELP ROOM</h1>
                              <h1 data-aos="fade-left" data-aos-duration="1000" style="font-size: 70px;color: purple;">Payment</h1>
                              
                            </div>
                      
                            <div id="imageContainer">
                            <img id="indexImage" src="/customer.jpg" alt="image">
                            </div>
                          </div>

                          <div style="margin: 24px">
                            <div style="text-align: center;">
                            <h2 data-aos="fade-up" data-aos-duration="1000" id="eachHelp">Payout Guidelines</h2>
                            <h3>We got an effective payout system that eneble you withdraw fund from your wallet immediately affter your event and get credited within the next "72hrs".</h3>
                          </div>
                            <ol style="line-height: 2.5;">
                            <li>From your dashboard, click on <b>My Wallet</b> button. This will open your wallet.</li>
                            <li>Confirm your balance and scroll down to the withdraw field to enter the amount to withdraw.</li>
                            <li>Then, click on <b>send</b> button to make your withdrawal.</li>
                            <li>This will be deducted from your balance immediately.</li>
                            <li>Your account will be credited within the next <b>72hrs</b>.</li>
                          </ol>
                          </div>
                        
                        <%}else if(help == "creatorAnalytics"){%>
                
                          <nav>
                            <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
                            <div>
                              <span><a id="navLink" href="/helpCenter">Help Center</a></span>
                              <span><a id="navLink" href="/faq">FAQ</a></span>
                              <span><a id="navLink" href="/creators/signup">Sign Up</a></span>
                              <span><a id="navLink" href="/creators/login">Log In</a></span>
                            </div>
                          </nav>

                          <div id="welcomeContainer">
                            <div id="welcomeMessage">
                              <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 50px;">HELP ROOM</h1>
                              <h1 data-aos="fade-left" data-aos-duration="1000" style="font-size: 70px;color: purple;">Analytics</h1>
                              
                            </div>
                      
                            <div id="imageContainer">
                            <img id="indexImage" src="/customer.jpg" alt="image">
                            </div>
                          </div>

                          <div style="margin: 24px">
                            <div style="text-align: center;">
                            <h2 data-aos="fade-up" data-aos-duration="1000" id="eachHelp">Creator Analytics</h2>
                            <h3>From your dashboard, the following datas can be accessed to analyse your activities .</h3>
                          </div>
                            <ol style="line-height: 2.5;">
                              <p>From the dashboard,</p>
                            <li>Click on the <b>Unticketed Eventees</b> button to get the count and details of eventees who have added that particular event to their list but have not bought ticket.</li>
                            <li>Click on the <b>Ticketed Eventees</b> button to get the count and details of eventees who have bought the ticket for that particular event.</li>
                            <li>Click on the <b>Scanned Eventees</b> button to get the count and details of eventees who have gotten their ticket scanned at the venue as attendees.</li>
                            <li>Click on the <b>All the time ticketed Evntees</b> button to get the count and details of eventees who bought ticket for your various events all together. </li>
                            <li>Click on the <b>All the time scanned Eventees</b> button to get the count and details of eventees who attended your various events all together.</li>
                            <li>These results makes you analyse your performance as an event organizer and guide your decision making for improvements.</li>
                          </ol>
                          </div>
                            
                            <%}%>

                            <div style="margin: 24px;text-align: center;">
                              <h4 data-aos="fade-up" data-aos-duration="1000" style="margin-top: 100px;">You still have some questions ?</h4>
                              <p data-aos="fade-left" data-aos-duration="1000">
                                Send us a mail &rBarr;
                                <a href="mailto:eventful4you@gmail.com"
                                  ><img id="gmail" src="/gmailLogo.svg" alt="image"
                                /></a>
                              </p>
                            </div>

                            <footer>
                              <%-include("partials/footer.ejs")-%>
                            </footer>
                          </div>
                          <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

                          <script>AOS.init();</script>
                          </body>

                          </html>