<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Error</title>
</head>
<body>
    <nav>
        <a href="/" id="navFlex1"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>  
          
      </nav>

      
    <%if(message == 'existingEventeeError'){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>User already exist</h4> 
              <a id="navLink" href="/eventees/signup">Signup</a>
        </div>
        
    <%}else if(message == "fileUploadError"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>file upload fails. Try again</h4> 
              <a id="navLink" href="/eventees/signup">Sign Up</a>
        </div>
        
    <%}else if(message == "eventeeNotFound"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>User not found.</h4> 
              <a id="navLink" href="/eventees/signup">Sign Up</a>
        </div>
        
    <%}else if(message == "verificationError"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>You are not yet verfied.</h4> 
              <p>.Please, check your email for verification link.</p>
        </div>
    <%}else if(message == "eventeePasswordError"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>Username or Password is incorrect</h4> 
              <a id="navLink" href="/eventees/login">Login</a>
        </div>
    
    <%}else if(message == "existingCreatorError"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>User already exist</h4> 
              <a id="navLink" href="/creators/signup">Signup</a>
        </div>
       
    <%}else if(message == "creatorNotFound"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>User not found.</h4> 
              <a id="navLink" href="/creators/signup">Signup</a>
        </div>
        
    <%}else if(message == "creatorPasswordError"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>Username or Password is incorrect</h4> 
              <a id="navLink" href="/creators/login">Login</a>
        </div>
    
    <%}else if(message == "creatorFileUploadError"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>File upload fails. Try again</h4> 
              <a href="/creators/signup">Signup</a>
        </div>
    
    <%}else if(message=="eventNotfound"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>Event not found.</h4> 
              <a href="/creators/creatorDashboard">Dashboard</a>
        </div>
    
    <%}else if(message=="linkAlteration"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>It seems you have altered your verification link. check and try again</h4> 
        </div>
    
    <%}else if(message=="eventeeNotfound"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>Eventee not found</h4> 
        </div>
        
    <%}else if(message=="eventListedBefore"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
              <h4>This event is already in your checklist but you have not bought ticket for the event.</h4> 
              <p>Check your list to get the ticket.</p>
        </div>
        
    <%}else if(message== "ticketBoughtBefore"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>You have bought ticket for this event already</h4> 
        </div>
    
    <%}else if(message=="eventNotOnListBefore"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>This event is not on your list before now.</h4> 
        </div>
    <%}else if(message=="eventNotRemovable"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>You can't remove this event because you have bought ticket for it.</h4> 
        </div>
    <%}else if(message == "invalidResetLink"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>Invalid password reset link.It seems you have altered the link.</h4> 
            <p>Check and try again.</p>
        </div>
        
    <%}else if(message == "expired registration" ){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>Ticket purchase for this event has expired</h4> 
        </div>
        
    <%}else if(message == "transactionNotFound"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>Transaction not found</h4> 
            <a href="/creators/creatorDashboard">Dashboard</a>
        </div>
        
    <%}else if(message == "alreadyScanned"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>This code has been scanned before</h4> 
            <a href="/creators/scanner">Open scanner</a>
        </div>
    <%}else if(message == "expiredPasswordResetLinkForEventee"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>It seems your password reset link has expired</h4>
            <a id="navLink" href="/eventees/passwordResetPage">Send another request.</a>
        </div>
    <%}else if(message == "expiredPasswordResetLinkForCreator"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>It seems your password reset link has expired</h4>
            <a id="navLink" href="/creators/passwordResetPage">Send another request.</a>
        </div>
    <%}else if(message == "Transaction is not found"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>Tranaction not found</h4>
        </div>
    <%}else if(message == "inactiveWallet"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>You can't make payment for this event at the moment due to management reasons.</h4>
            <p>Please try again later</p>
        </div>
    <%}else if(message == "walletNotFound"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>You can't do transaction on this account at the moment.</h4>
            <p>Please try again later or contact the management.</p>
        </div>
    <%}else if(message == "insufficientBalance"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>Insufficient fund.</h4>
            <p>You can't withdraw amount above your wallet balance.</p>
        </div>
    <%}else if(message == "globalError"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>Page Not Found</h4>
        </div>
    <%}else if(message == "admin_keyError"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>email or admin_key is incorrect.</h4>
        </div>
    <%}else if(message == "email not found"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>Creator with this Email is not found</h4>
        </div>
    <%}else if(message == "wallet already suspended"){%>
        <div style="text-align: center;">
            <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
            <h4>Wallet already suspended or closed</h4>
        </div>
        <%}else if(message == "wallet already activated"){%>
            <div style="text-align: center;">
                <img src="/opps.webp" alt="image" style="width:300px; height: 300px;">
                <h4>Wallet already activated</h4>
            </div>
        <%}%>

        <footer>
        <%-include("partials/footer.ejs")-%>
      </footer>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

        <script>AOS.init();</script>
    </body>
</html>