<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creator Login</title>
</head>
<body>
  <nav>
    <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/eventees/signup">Signup</a></li>
  </ul>
  </nav>
    <h1>Eventee Login</h1>

    <form action="/eventees/login" method="post">
    <label for="email" class="label">email:</label>
    <input
      type="text"
      ,
      name="email"
      class="input"
    /><br /><br /><br />

    <label for="password" class="label">password:</label>
    <input
      type="password"
      ,
      name="password"
      class="input"
    /><br /><br /><br />

    <button type="submit" class="submit">submit</button>
  </form>
  <a href="/eventees/passwordResetPage">Forget password ?</a>
</body>
</html>