<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Create Event</title>
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script> -->
</head>
<body>
  <div>
  <nav>
    <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
    <div>
      <span><a id="navLink" href="/">Home</a></li>
      <span><a id="navLink" href="/creators/creatorDashboard">Dashboard</a></span>
      <span><a id="navLink" href="/creators/logout">Logout</a></span>
      
    </div>
  </nav>
    
  <div id="welcomeContainer">
    <div id="creatorLogSign">
      <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 70px;">Event creation</h1>
       
    <%if(successfulCreation){%>
      <p data-aos="zoom-in" data-aos-duration="1000" style="color: green; text-align: center; font-size: 34px; font-weight: bold; background-color: white;text-align: center; border-radius: 10px;margin:auto 24px;"><%=successfulCreation%></p>
    <%}%>

    <%if(eventDelMessage){%>
      <p data-aos="zoom-in" data-aos-duration="1000" style="color: green; text-align: center; font-size: 34px; font-weight: bold; background-color: white;text-align: center; border-radius: 10px;margin:auto 24px;"><%=eventDelMessage%></p>
    <%}%>

    </div>
  
    <div id="imageContainer">
      <img id="indexImage" src="/hand-signing-form.jpg"  alt="image">
    </div>
  </div>
   
    <form action="/events/createEvent" , method="post" id="form" enctype="multipart/form-data">
      <h2 style="margin-bottom: 50px;">Create Event</h2>
        <label data-aos="fade-left" data-aos-duration="1000" for="title" class="label">Title:</label>
        <input
          data-aos="fade-right" data-aos-duration="1000"
          style="width: 40%; padding: 10px;"
          type="text"
          name="title"
          class="input"
        /><br /><br /><br />
        <p><label for="description" class="label">Description:</label></p>
        <textarea name="description" cols="100" rows="10"></textarea>
        <br /><br /><br />

        <label data-aos="fade-left" data-aos-duration="1000" for="category" class="label">Category:</label>
        <select data-aos="fade-right" data-aos-duration="1000" name="category" class="input" type="text">
          <option value="">--select a category--</option>      
          <option name="category" value="Charity">Charity</option>
          <option name="category" value="Concert">Concert</option>
          <option name="category" value="Conference">Conference</option>
          <option name="category" value="Exhibition">Exhibition</option>
          <option name="category" value="Film Show">Film Show</option>
          <option name="category" value="Product Launch">Product Launch</option>
          <option name="category" value="Vetworking">Networking</option> 
          <option name="category" value="Seminar">Seminar</option>
          <option name="category" value="Sport">Sport</option>
          <option name="category" value="Symposium">Symposium</option>
          <option name="category" value="Theater">Theater</option>
          <option name="category" value="Trade Show">Trade Show</option> 
          <option name="category" value="Workshop">Workshop</option>    
        </select>
        <br /><br /><br />

        <label  data-aos="fade-left" data-aos-duration="1000" for="event_date" class="label">Event Date:</label>
        <input
        data-aos="fade-right" data-aos-duration="1000"
          type="date"
          name="event_date"
          class="input"
        /><br /><br /><br />

        <label data-aos="fade-left" data-aos-duration="1000" for="starting_time" class="label">Starting Time:</label>
        <input
        data-aos="fade-right" data-aos-duration="1000"
          type="time"
          name="starting_time"
          class="input"
        /><br /><br /><br />

        <label data-aos="fade-left" data-aos-duration="1000" for="ending_time" class="label">Ending Time:</label>
        <input
        data-aos="fade-right" data-aos-duration="1000"
          type="time"
          name="ending_time"
          class="input"
        /><br /><br /><br />

        <label data-aos="fade-left" data-aos-duration="1000" for="reminder_days" class="label">Choose a day for Eventful to send notification to Eventees.</label>
        <select data-aos="fade-right" data-aos-duration="1000" name="reminder_days" class="input">
          <option value="">---How many days to the event ?----</option>
          <option name="reminder_days" value="1">1</option>
          <option name="reminder_days" value="2">2</option>
          <option name="reminder_days" value="3">3</option>
          <option name="reminder_days" value="4">4</option>
          <option name="reminder_days" value="5">5</option>
          <option name="reminder_days" value="6">6</option>
          <option name="reminder_days" value="7">7</option>
          <option name="reminder_days" value="8">8</option>
          <option name="reminder_days" value="9">9</option>
          <option name="reminder_days" value="10">10</option>
        </select><br /><br /><br />

        <label data-aos="fade-left" data-aos-duration="1000" for="registration_deadline" class="label">Ticket Purchase deadline: </label>
        <input
        data-aos="fade-right" data-aos-duration="1000"
          type="date"
          name="registration_deadline"
          class="input"
        /><br /><br /><br />

        <label data-aos="fade-left" data-aos-duration="1000" for="venue" class="label">Venue/Address:</label>
        <input
        data-aos="fade-right" data-aos-duration="1000"
        style="width: 40%; padding: 10px;"
          type="text"
          name="venue"
          class="input"
        /><br /><br /><br />
    
        <label data-aos="fade-left" data-aos-duration="1000" for="ticket_price" class="label">Ticket Price (&#36;):</label>
        <input
        data-aos="fade-right" data-aos-duration="1000"
          type="text"
          name="ticket_price"
          class="input"
        /><br /><br /><br />
        

        <p data-aos="fade-left" data-aos-duration="1000"><label for="additional_info" class="label">Additional Info: (optional)</label></p>
        <textarea data-aos="fade-right" data-aos-duration="1000" name="additional_info" cols="100" rows="10"></textarea>
        <!-- <textarea name="additional_info" id="info"></textarea> -->
        <!-- <script>
          ClassicEditor
          .create( document.querySelector('#info') )
          .catch( error => {
              console.error( error );
          } );
        </script> -->
        <br /><br /><br />

        <label data-aos="fade-left" data-aos-duration="1000" for="event_image" class="label">Upload your Event banner:</label>
        <input
        data-aos="fade-right" data-aos-duration="1000"
          type="file"
          name="event_image"
          accept="image/*"
          placeholder="Choose a file"
          class="input"
        /> <br><br><br>
      
        <button type="submit" class="submit">submit</button>
      </form> 
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script>AOS.init();</script>
    </body>
</html>