<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/eventees/login">Login</a></li>
    </ul>
  </nav>
  

<h1>Eventee Signup Page</h1>
<form action="/eventees/signup" , method="post" enctype="multipart/form-data">

    <label for="first_name" class="label">First name:</label>
    <input
      type="text"
      name="first_name"
      class="input"
    /><br /><br /><br />
    <label for="last_name" class="label">Last name:</label>
    <input
      type="text"
      ,
      name="last_name"
      class="input"
    /><br /><br /><br />
    <label for="email" class="label">email:</label>
    <input
      type="text"
      name="email"
      class="input"
    /><br /><br /><br />

    <label for="sex" class="label">Sex:</label>
    <input
      type="text"
      name="sex"
      class="input"
    /><br /><br /><br />

    <label for="country" class="label">Country:</label>
    <input
      type="text"
      name="country"
      class="input"
    /><br /><br /><br />

    <label for="state" class="label">State:</label>
    <input
      type="text"
      name="state"
      class="input"
    /><br /><br /><br />

    <label for="phoneNum" class="label">Phone number:</label>
    <input
      type="text"
      name="phoneNum"
      class="input"
    /><br /><br /><br />
    
    <label for="password" class="label">password:</label>
    <input
      type="password"
      name="password"
      class="input"
    /><br /><br /><br />
    <label for="profileImage" class="label">Upload your upload:</label>
    <input
      type="file"
      name="profileImage"
      accept="image/*"
      placeholder="Choose a file"
      class="input"
    />
  </div>
    <button type="submit" class="submit">submit</button>
  </form>
</body>
</html>