<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <link rel="stylesheet" href="/style.css">
    <title>FAQ</title>
</head>
<body>
    <nav>
        <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
        <div>
          <span><a id="navLink" href="/helpCenter">Help Center</a></span>
          <span><a id="navLink" href="/creators/creatorHomePage">Create Event</a></span>
          <span><a id="navLink" href="/eventees/signup">Sign Up</a></span>
          <span><a id="navLink" href="/eventees/login">Log In</a></span>
        </div>
      </nav>

      <div id="welcomeContainer">
        <div id="welcomeMessage">
          <h1 style="font-size: 50px;">FAQs</h1>
          <h1 style="font-size: 70px;color: purple;">?</h1>
          
        </div>
  
        <div id="imageContainer">
        <img id="indexImage" src="/customer.jpg" alt="image">
        </div>
      </div>

      <div style="margin: 24px;text-align: center;">
        <h1>Frequently Asked Questions</h1>
    </div>
    <footer>
        <%-include("partials/footer.ejs")-%>
    </footer>
</body>
</html>