<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul style="display:flex;justify-content: center;gap: 20px;list-style-type:none;padding: 0;margin-bottom:50px;">
          <li><a style="text-decoration: none;" href="/about">About</a></li>
          <li><a style="text-decoration: none;" href="./creators/login">Creator Login</a></li>
        <li><a style="text-decoration: none;" href="/eventees/login">Eventee Login</a></li>
        </ul>
      </nav>
<div style="line-height:0.5;margin-bottom: 30px; text-align: center;">
    <h1><%=message%></h1>
    <p>...your passport to a world of unforgettable moments</p>
</div>
    <p>Eventful is more than just a ticketing platform;it is your passport to a world of unforgettable moments.
        From pulsating concerts to captivating theater performances, and thrilling sports events to enlightening cultural gatherings, we curate a diverse array of experiences that cater to every taste and passion.
    </p>

    <h2 style="text-align: center;">How do you want to use Eventful ?</h2>
    <div style="display: flex; gap: 10px; justify-content:space-around;">
        <p><a style="text-decoration: none; background-color: green; color: white; padding: 10px;" href="./creators/signup">Apply as an event Creator</a></p>
        <p><a style="text-decoration: none; background-color: green; color: white; padding: 10px;" href="/eventees/signup">Get started as an Eventee</a></p>
    </div>
</body>
</html>