<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/eventees/signup">Register</a></li>
        </ul>
      </nav>
<div style="line-height:0.5;margin-bottom: 30px;">
    <h1><%=message%></h1>
    <p>...your passport to a world of unforgettable moments</p>
</div>
    <p>Eventful is more than just a ticketing platform;it is your passport to a world of unforgettable moments.
        From pulsating concerts to captivating theater performances, and thrilling sports events to enlightening cultural gatherings, we curate a diverse array of experiences that cater to every taste and passion.
    </p>

    <h2>Will you like to post events on Eventful ?</h2>
    <p><a href="./creators/signup">Apply as an event Creator</a></p>

</body>
</html>