<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
</head>
<body>
   <h1>Successful reset link Verification</h1> 
   <%if(user == "creator"){%>
    <form action="/creators/newPassword/<%=userId%>" method="post">
        <label for="">Enter new Password</label>
        <input type="text" name="newPassword">
        <button type="submit">Submit</button>
    </form>
   <%}else{%>
    <form action="/eventees/newPassword/<%=userId%>" method="post">
        <label for="">Enter new Password</label>
        <input type="text" name="newPassword">
        <button type="submit">Submit</button>
    </form>
   <%}%>
   
</body>
</html>