<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <link rel="stylesheet" href="/style.css">
    <title>New Password</title>
</head>
<body>
    <div>
   
   <%if(user == "creator"){%>
    <nav>
        <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
        <div>
          <span><a id="navLink" href="/creators/creatorDashboard">Dashboard</a></span>
          <span><a id="navLink" href="/creators/signup">Sign Up</a></span>
          <span><a id="navLink" href="/creators/login">Login</a></span>
        </div>
      </nav>

      <div id="welcomeContainer">
        <div id="creatorLogSign">
          <h1 style="font-size: 70px;"> Creator's password reset</h1>
          <p style="font-size: 50px;">New password entry</p>
        </div>
      
        <div id="imageContainer">
          <img id="indexImage" src="/passReset2.jpg"  alt="image">
        </div>
      </div>
      
      <p id="validReset" style="color: green; text-align: center; font-size: 24px;">Successful reset link Verification</p>
      
      <h1 style="text-align: center;">Enter new Password</h1>
    <form id="form" action="/creators/newPassword/<%=userId%>" method="post">
        <label style="font-weight: bold;" for="newPassword" style="text-align: center;">New password: </label>
        <input type="text" name="newPassword" class="input">
        <button id="navLink" type="submit">Submit</button>
    </form>
   
    <%}else{%>
    <nav>
        <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
        <div>
          <span><a id="navLink" href="/eventees/eventeeDashboard">Dashboard</a></span>
          <span><a id="navLink" href="/eventees/signup">Sign Up</a></span>
          <span><a id="navLink" href="/eventees/login">Login</a></span>
        </div>
      </nav>

      <div id="welcomeContainer">
        <div id="creatorLogSign">
          <h1 style="font-size: 70px;">Eventee's password reset</h1>
          <p style="font-size: 50px;">New password entry</p>
        </div>
      
        <div id="imageContainer">
          <img id="indexImage" src="/passReset2.jpg"  alt="image">
        </div>
    </div>
    <p style="color: green; text-align: center; font-size: 24px;">Successful reset link Verification</p>
    <h1 style="text-align: center;">Enter new Password</h1>
    <form id="form" action="/eventees/newPassword/<%=userId%>" method="post" >
        <label style="font-weight: bold;" for="">New password: </label>
        <input type="password" name="newPassword" class="input">
        <button id="navLink" type="submit">Submit</button>
    </form>
   <%}%>

   <footer>
    <%-include("partials/footer.ejs")-%>
  </footer>
</div>
</body>
</html>