<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <link rel="stylesheet" href="/style.css">
    <title>Password Reset</title>
</head>
<body>
<div>
    <%if(user=="creator"){%>
        <nav>
            <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
            <div>
              <span><a id="navLink" href="/creators/creatorDashboard">Dashboard</a></span>
              <span><a id="navLink" href="/creators/signup">Sign Up</a></span>
              <span><a id="navLink" href="/creators/login">Login</a></span>
            </div>
          </nav>

          <div id="welcomeContainer">
            <div id="creatorLogSign">
              <h1 style="font-size: 70px;"> Creator's password reset</h1>
              <p style="font-size: 50px;">Email authentication</p>
            </div>
          
            <div id="imageContainer">
              <img id="indexImage" src="/passReset.png"  alt="image">
            </div>
          </div>
          <%if(validEmail){%>
            <p style="color: green; text-align: center; font-size: 24px;"><%=validEmail%></p>
          <%}%>
          <h1 style="text-align: center;">Enter your email</h1>
        <form id="form" action="/creators/verifyEmailForPasswordReset" method="post">
            <label style="font-weight: bold;" for="email">Email: </label>
            <input type="text", name="email" class="input">
            <button id="navLink" type="submit">submit</button>
        </form>
    <%}else{%>
        <nav>
            <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
            <div>
              <span><a id="navLink" href="/eventees/eventeeDashboard">Dashboard</a></span>
              <span><a id="navLink" href="/eventees/signup">Sign Up</a></span>
              <span><a id="navLink" href="/eventees/login">Login</a></span>
            </div>
          </nav>

          <div id="welcomeContainer">
            <div id="creatorLogSign">
              <h1 style="font-size: 70px;">Eventee's password reset</h1>
              <p style="font-size: 50px;">Email authentication</p>
            </div>
          
            <div id="imageContainer">
              <img id="indexImage" src="/passReset.png"  alt="image">
            </div>
          </div>
          <%if(validEmail){%>
            <p style="color: green; text-align: center; font-size: 24px;"><%=validEmail%></p>
          <%}%>
        <h1 style="text-align: center;">Enter your email</h1>
        <form id="form" action="/eventees/verifyEmailForPasswordReset" method="post">
            <label style="font-weight: bold;" for="email">Email: </label>
            <input type="text", name="email" class="input">
            <button type="submit" id="navLink">submit</button>
        </form>
   <%}%>
   <footer>
    <%-include("partials/footer.ejs")-%>
  </footer>
  </div> 
</body>
</html>