<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
</head>
<body>
    <nav style="display: flex;gap:20px">
        <a href="/">Home</a>
        <a href="/eventees/eventeeDashboard">Dashboard</a>
        <a href="/events/myCheckList">CheckList</a>
        <a href="/logout">Logout</a>
    </nav>
    <h1>Your Payment is Successful</h1>
    <h2>Check your email for your QRcode</h2>
    <p>The QRcode is your ticket for the Event.You will be asked to present it at the venue for access to the event</p>
    <p>We will appreciate your cooperation. Thanks.</p>
</body>
</html>