<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Payment Successful</title>
</head>
<body>
    <div>
    <nav>
        <a href="/" id="navFlex1"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
        <div>
          <span><a id="logoutLink"  href="/eventees/logout">Logout</a></span>
        </div>
    </nav>

    <div style="text-align: center;">
        <h1 data-aos="fade-right" data-aos-duration="1000" style="color: green; text-align: center; font-size: 24px;">Successful payment</h1>
        <img src="/successLogo.png" alt="image" style="width:300px; height: 300px;">
        <h4 data-aos="zoom-in" data-aos-duration="1000">Check your email for your QRcode</h4>
        <p data-aos="zoom-in" data-aos-duration="1000">The QRcode is your ticket for the Event.</p>
         <p data-aos="zoom-in" data-aos-duration="1000">You will be asked to present it at the venue for access to the event</p>
         <p data-aos="zoom-in" data-aos-duration="1000">We will appreciate your cooperation.</p>
         <p data-aos="zoom-in" data-aos-duration="1000">Thanks.</p>
    </div>  
<footer>
    <%-include("partials/footer.ejs")-%>
</footer>   
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>AOS.init();</script>
</body>
</html>