<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="/style.css">
<title>Privacy policy</title>
</head>

<body>
<div>
  <nav>
    <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
    <div>
      <span><a id="navLink" href="/helpCenter">Help Center</a></li> 
    </div>
  </nav>

  <div id="welcomeContainer">
    <div id="creatorLogSign">
      <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 70px;">Privacy policy</h1>
    </div>
  
    <div id="imageContainer">
      <img id="indexImage" src="/hand-signing-form.jpg"  alt="image">
    </div>
  </div>
  <div style="margin: 24px; line-height: 2.5;">
 <h2 style="text-align: center;text-decoration: underline;">Privacy policy</h2>
 <p data-aos="zoom-in" data-aos-duration="1000" id="termsList">This Privacy Policy ("Policy") describes how Eventful global Ltd. ("Company," "we," "our," or "us") collects, uses, and shares personal information of users ("you" or "your") of our event organizers (Creators) and attendees (Eventees) connecting platform ("Platform").</p>

  <ol style="padding:16px;">
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Information We Collect</li>
    <ol data-aos="fade-right" data-aos-duration="1000" style="list-style-type:none">
      <li id="termsList">1.1. <b>Information You Provide: </b>We may collect personal information you provide when you create an account, register for events, purchase tickets, or communicate with us. This information may include your name, email address, contact details, payment information, and any other information you choose to provide. </li>
     <li id="termsList">1.2. <b>Automatically Collected Information: </b>We may automatically collect certain information about your device and usage of the Platform, such as your IP address, browser type, operating system, and usage data. </li>
      <li id="termsList">1.3. <b>Cookies: </b>We may use cookies and similar tracking technologies to collect information and improve the functionality of the Platform. You can adjust your browser settings to refuse cookies, but this may affect the functionality of the Platform. </li>
    </ol>

    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">How We Use Your Information</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">2.1 We may use the information we collect for various purposes, including:</li>
      <ul data-aos="zoom-in" data-aos-duration="1000" style="list-style-type: disc;">
        <li>Providing and maintaining the Platform;</li>
        <li>Facilitating communication between event organizers and attendees;</li>
        <li>Processing payments and transactions;</li>
        <li>Personalizing your experience on the Platform;</li>
        <li>Sending you updates, notifications, and promotional messages;</li>
        <li>Analyzing usage trends and improving the Platform; and</li>
        <li id="termsList">Complying with legal and regulatory requirements.</li>
      </ul>
    </ol>

    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Information Sharing</li>
    <ol data-aos="fade-right" style="list-style-type:none">
    <li id="termsList">3.1 We may share your personal information with third parties for the following purposes:</li>
    <ul data-aos="zoom-in" data-aos-duration="1000" style="list-style-type: disc;">
      <li>With event organizers to facilitate registration and attendance at events;</li>
      <li>With service providers who assist us in operating the Platform;</li>
      <li>With law enforcement or government authorities in response to legal requests or court orders; and</li>
      <li id="termsList">With your consent or as otherwise described to you at the time of collection.</li>
    </ul>
    </ol>

    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Data Security</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">4.1  We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</li>
    </ol>

    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;"> Data Retention</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">We will retain your personal information for as long as necessary to fulfill the purposes outlined in this Policy unless a longer retention period is required or permitted by law.</li>
    </ol>

    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Your Choices</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">6.1 You may choose not to provide certain personal information, but this may limit your ability to access certain features of the Platform.</li>
      <li id="termsList">6.2 You can opt-out of receiving promotional communications from us by following the unsubscribe instructions provided in such communications.</li>
    </ol>

    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;"> Children's Privacy</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">7.1 The Platform is not intended for children under the age of 13, and we do not knowingly collect personal information from children under the age of 13. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us to have it removed.</li>
    </ol>

    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Changes to This Policy</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">8.1 We reserve the right to update or change this Policy at any time. Any changes will be effective immediately upon posting the revised Policy on the Platform.</li>
    </ol>
    
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Contact Us</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">11.1  If you have any questions about this Policy, please contact us at <a href="mailto:eventful4you@gmail.com">eventful4you@gmail.com</a>.</li>
    </ol>
  </ol>

  <p>By using the Platform, you acknowledge that you have read, understood, and agree to be bound by these Terms.</p>
  </div>
  <footer>
    <%-include("partials/footer.ejs")-%>
  </footer>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>AOS.init();</script>
</body>
</html>