<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Password Reset</title>
</head>
<body>
    <%if(user == "creator"){%>
        <h1>Successful password reset</h1>
        <p>You can now login with the new password</p>
        <a href="/creators/login">Login</a>
    <%}else{%>
        <h1>Successful password reset</h1>
        <p>You can now login with the new password</p>
        <a href="/eventees/login">Login</a>
   <%}%>
    
</body>
</html>