<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>successful verification</title>
</head>
<body>
    <%if(user=="eventee"){%>
    <h1>You are successfully verified</h1>
    <a href="/eventees/login">Login</a>
    <%}else{%>
    <h1>You are successfully verified</h1>
    <a href="/creators/login">Login</a>
    <%}%>
</body>
</html>