<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="/style.css">
<title>Terms of service</title>
</head>

<body>
<div>
  <nav>
    <a href="/"><img id="logo" src="/android-chrome-192x192.png" alt="logo"></a>
    <div>
      <span><a id="navLink" href="/helpCenter">Help Center</a></li> 
    </div>
  </nav>

  <div id="welcomeContainer">
    <div id="creatorLogSign">
      <h1 data-aos="zoom-in" data-aos-duration="1000" style="font-size: 70px;">Terms of service</h1>
    </div>
  
    <div id="imageContainer">
      <img id="indexImage" src="/hand-signing-form.jpg"  alt="image">
    </div>
  </div>
  <div style="margin: 24px; line-height: 2.5;">
 <h2 style="text-align: center;text-decoration: underline;">Terms of Service</h2>
 <p data-aos="zoom-in" data-aos-duration="1000" id="termsList">These Terms of Service ("Terms") govern your access to and use of the services provided by Eventful ("Platform"), including any mobile applications, websites, content,
   and other services offered by Eventful global Ltd. ("Company")</p>

   <p data-aos="zoom-in" data-aos-duration="1000">By accessing or using the Platform, you agree to be bound by these Terms. If you do not agree to these Terms, you may not use the Platform.</p>
  <ol style="padding:16px;">
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Platform Services</li>
    <ol data-aos="fade-right" data-aos-duration="1000" style="list-style-type:none">
      <li id="termsList">1.1 The Platform provides a service that connects event organizers (Creators) with attendees (Eventees) for various events, including but not limited to conferences, workshops, seminars, and exhibitions.</li>
     <li id="termsList">1.2 The platform does not provides a service that connects event organizers (Creators) with attendees (Eventees) for events that promote immoralities , including but not limited to ponography, gambling and nudity.</li>
      <li id="termsList">1.3 The Platform facilitates communication, registration, ticketing, and other related services for event organizers and attendees.</li>
    </ol>
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">User Accounts</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">2.1 To access certain features of the Platform, you may be required to create an account. You agree to provide accurate and complete information when creating your account and to keep your account information up-to-date.</li>
      <li id="termsList">2.2 You are solely responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</li>
      <li id="termsList">2.3 You agree not to share your account credentials with any third party or allow any third party to access your account.</li>
    </ol>
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">User Conduct</li>
    <ol data-aos="fade-right" style="list-style-type:none">
    <li id="termsList">3.1 You agree to use the Platform only for lawful purposes and in accordance with these Terms.</li>
    <li>3.2 You agree not to use the Platform to:</li>
    <ul data-aos="zoom-in" data-aos-duration="1000" style="list-style-type: disc;">
      <li>Violate any applicable laws or regulations.</li>
      <li>Infringe upon the rights of others.</li>
      <li id="termsList">Transmit any content that is unlawful, harmful, threatening, abusive, defamatory, obscene, or otherwise objectionable.</li>
    </ul>
    <li id="termsList">3.3  You agree not to engage in any conduct that could disable, overburden, or impair the proper functioning of the Platform.</li>
    </ol>
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Content</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">4.1  You retain ownership of any content that you submit, post, or display on the Platform.</li>
      <li id="termsList">4.2 By submitting content to the Platform, you grant Company a worldwide, non-exclusive, royalty-free license to use, reproduce, modify, adapt, publish, translate, distribute, and display such content.</li>
    </ol>
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Fees and Payment</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">5.1 The use of certain features of the Platform may be subject to payment of fees. You agree to pay all fees associated with your use of such features.</li>
      <li id="termsList">5.2 All fees are non-refundable unless otherwise stated by Company.</li>
    </ol>
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Disclaimer of Warranties</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">6.1 The Platform is provided on an "as is" and "as available" basis, without any warranties of any kind, express or implied. </li>
      <li id="termsList">6.2 Company makes no warranties or representations about the accuracy or completeness of the content available on or through the Platform.</li>
    </ol>
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Limitation of Liability</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">7.1 In no event shall Company be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, arising out of your use of the Platform.</li>
    </ol>
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Indemnification</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">8.1 You agree to indemnify and hold harmless Company and its officers, directors, employees, and agents from and against any and all claims, liabilities, damages, losses, or expenses, including reasonable attorneys' fees and costs, arising out of or in any way connected with your use of the Platform.</li>
    </ol>
    <li style="font-weight: bold;"> Governing Law</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">9.1 These Terms shall be governed by and construed in accordance with the laws of the Federal Republic of Nigeria, without regard to its conflict of law principles.</li>
    </ol>
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Changes to Terms</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">10.1 Company reserves the right to modify or revise these Terms at any time. Your continued use of the Platform following the posting of any changes to these Terms constitutes acceptance of those changes.</li>
    </ol>
    <li data-aos="zoom-in" data-aos-duration="1000" style="font-weight: bold;">Contact Us</li>
    <ol data-aos="fade-right" style="list-style-type:none">
      <li id="termsList">11.1  If you have any questions about these Terms, please contact us at <a href="mailto:eventful4you@gmail.com">eventful4you@gmail.com</a>.</li>
    </ol>
  </ol>

  <p>By using the Platform, you acknowledge that you have read, understood, and agree to be bound by these Terms.</p>
  </div>
  <footer>
    <%-include("partials/footer.ejs")-%>
  </footer>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>AOS.init();</script>
</body>
</html>